// colors
$gradient: linear-gradient(to bottom, hsl(46, 100%, 52%), hsl(19, 100%, 61%));
$font-color: hsl(24, 68%, 60%);
$bg-color: hsla(203, 30%, 10%, 0.8);
$input-bg-color: hsla(203, 30%, 80%, 0.2);
$red: hsla(4, 100%, 30%, 0.2);
$green: hsla(138, 100%, 20%, 0.2);

// breakpoints

$br-small: 31.25rem; //500px



// helper classes

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: $gradient;
}

// global element styling

.btn {
  min-width: 10rem;
  max-width: 10rem;
    height: 10rem;
    background: $bg-color;
    cursor: pointer;
    
    img {
        width: 5rem;
        height: auto;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 2rem;
        color: $font-color;
    }
}

label {
  font-size: 2rem;
  color: $font-color;
  margin-bottom: 1rem;
}

input {
  appearance: none;
  height: 3.5rem;
  background: $input-bg-color;
  padding-left: 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: $font-color;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
}

// mixins

@mixin breakpoint-up($size) {
  @media only screen and (min-width: $size) {
      @content;
  }
}
